[submodule "orocos_kinematics_dynamics"]
	path = orocos_kinematics_dynamics
	url = git@github.com:vamsikalagaturu/orocos_kinematics_dynamics.git
[submodule "kdl_parser"]
	path = kdl_parser
	url = git@github.com:vamsikalagaturu/kdl_parser.git
[submodule "urdfdom"]
	path = urdfdom
	url = git@github.com:vamsikalagaturu/urdfdom.git
