  {%- macro init_monitors(pre_conds, post_conds, constraints, coords) -%}
  {% for pre_cond in pre_conds -%}
  {% with constraint = constraints[pre_cond["constraint"]] -%}
  Monitor pre_monitor_{{loop.index}}(logger, "{{constraint["operator"]}}", 
                          {{constraint["thresh_val"]}}, 
                          "{{constraint["thresh_unit"]}}",
                          {% if coords[constraint["coord"]]["type"] == "DistanceCoordinate" -%}
                          &{{coords[constraint["coord"]]["f1_coord"]}}_frame);
                          {% elif coords[constraint["coord"]]["type"] == "VelocityCoordinate" -%}
                          &{{coords[constraint["coord"]]["f1_coord"]}}_twist);
                          {% endif -%}

  {% endwith %}
  {%- endfor -%}

  {# post conditions #}
  {% for post_cond in post_conds -%}
  {% with constraint = constraints[post_cond["constraint"]] -%}
  Monitor post_monitor_{{loop.index}}(logger, "{{constraint["operator"]}}",
                          {{constraint["thresh_val"]}}, 
                          "{{constraint["thresh_unit"]}}",
                          {% if coords[constraint["coord"]]["type"] == "DistanceCoordinate" -%}
                          &{{coords[constraint["coord"]]["f1_coord"]}}_frame);
                          {% elif coords[constraint["coord"]]["type"] == "VelocityCoordinate" -%}
                          &{{coords[constraint["coord"]]["f1_coord"]}}_twist);
                          {% endif -%}
  {% endwith %}
  {%- endfor -%}
  {%- endmacro -%}

  {%- macro pre_cond_checks(pre_conds, constraints, coords) -%}
  {%- for pre_cond in pre_conds %}
  {%- with constraint = constraints[pre_cond["constraint"]] %}
  {% if "VectorXYZ" not in coords[coords[constraint["coord"]]["f2_coord"]]["type"] -%}
  {%- if coords[constraint["coord"]]["type"] == "DistanceCoordinate" -%}
  if (!pre_monitor_{{loop.index}}.checkAny({{coords[constraint["coord"]]["f2_coord"]}}_frame))
  {%- elif coords[constraint["coord"]]["type"] == "VelocityCoordinate" -%}
  if (!pre_monitor_{{loop.index}}.checkAny({{coords[constraint["coord"]]["f2_coord"]}}_twist))
  {%- endif -%}
  {% else -%}
  {%- if coords[constraint["coord"]]["type"] == "DistanceCoordinate" -%}
  if (!pre_monitor_{{loop.index}}.checkAny({{coords[constraint["coord"]]["f1_coord"]}}_frame))
  {%- elif coords[constraint["coord"]]["type"] == "VelocityCoordinate" -%}
  if (!pre_monitor_{{loop.index}}.checkAny({{coords[constraint["coord"]]["f1_coord"]}}_twist))
  {% endif -%}
  {% endif -%}
  {
    logger->logError("Pre-condition {{loop.index}} not met");
    return -1;
  }
  {%- endwith %}
  {%- endfor %}
  {%- endmacro -%}

    {%- macro post_cond_checks(post_conds, constraints, coords) -%}
    {%- for post_cond in post_conds %}
    {% with -%}
    {%- set constraint = constraints[post_cond["constraint"]] -%}
    {% if "VectorXYZ" not in coords[coords[constraint["coord"]]["f2_coord"]]["type"] -%}
    int seg_n = utils->getLinkIdFromChain(robot_chain, {{coords[coords[constraint["coord"]]["f2_coord"]]["f1"]}});
    {%- if coords[constraint["coord"]]["type"] == "DistanceCoordinate" -%}
    {%- set cp = coords[constraint["coord"]]["f2_coord"] + "_frame" -%}
    KDL::Frame {{cp}} = frames[seg_n];
    positions.push_back({{cp}}.p);
    logger->logInfo("{{cp}}: %s", {{cp}}.p);
    {%- elif coords[constraint["coord"]]["type"] == "VelocityCoordinate" -%}
    {%- set cp = coords[constraint["coord"]]["f2_coord"] + "_twist" -%}
    KDL::Twist {{cp}} = twists[seg_n];
    velocities.push_back({{cp}}.vel);
    logger->logInfo("{{cp}}: %s", {{cp}}.vel);
    {%- endif -%}
    {% else -%}
    int seg_n = utils->getLinkIdFromChain(robot_chain, {{coords[coords[constraint["coord"]]["f1_coord"]]["f1"]}});
    {%- if coords[constraint["coord"]]["type"] == "DistanceCoordinate" -%}
    {%- set cp = coords[constraint["coord"]]["f1_coord"] + "_frame" -%}
    KDL::Frame {{cp}} = frames[seg_n];
    positions.push_back({{cp}}.p);
    logger->logInfo("{{cp}}: %s", {{cp}}.p);
    {%- elif coords[constraint["coord"]]["type"] == "VelocityCoordinate" -%}
    {%- set cp = coords[constraint["coord"]]["f1_coord"] + "_twist" -%}
    KDL::Twist {{cp}} = twists[seg_n];
    velocities.push_back({{cp}}.vel);
    logger->logInfo("{{cp}}: %s", {{cp}}.vel);
    {%- endif -%}
    {% endif %}
    
    if (post_monitor_{{loop.index}}.checkAll({{cp}}))
    {
      logger->logInfo("Post-condition {{loop.index}} met");
      break;
    }

    std::cout << std::endl;
    
    {%- endwith %}
    {%- endfor %}
    {%- endmacro -%}