  {%- macro start_loop() -%}
  // counter
  int i = 0;
  int break_iteration_ = 500;

  // run the system
  while (true)
  {
    if (_debug) logger->logInfo("Iteration: %d", i);

    if (_env == ENV::ROB) km->get_robot_state(q, qd, joint_torques_m, f_tool_m);
    
  {%- endmacro -%}



  {%- macro end_loop() -%}
       i++;

       usleep(600);
    
    if (i == break_iteration_)
      break;
  }

  if (_visualize)
  {
    logger->logInfo("Visualizing the simulation");
    RobotSimulation simulation;
    simulation.run(&initial_joint_angles, q_vec, qd_vec, jnt_tau_vec);
  }

  if (_plot)
  {
    logger->logInfo("Plotting the results");
    plotter->plotXYZ(positions, target_link_coord_frame.p, "positions");
    plotter->plotXYZ(velocities, KDL::Vector{0.01, 0.01, 0.01}, "velocities");
  }

  {%- endmacro -%}